Backend/.env
testing/.env
MYOB_implementation
*.env
testing*
*.pyc
Backend/External_APIs/basiq_api.py
Backend/.venv/
Backend/venv/
__pycache__/
uv.lock
local_mysql_rules.txt
*.html
Backend/.venv/bin/activate
